.modal-blur-area{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-container{
        width: 433px;
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: var(--box-shadaw-color);
    }

    .modal-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .fb-sing-up-title{
            font-size: 25px;
            line-height: 32px;
            color: #1c1e21;
        }
        .fb-sing-up-text{
            font-size: 15px;
            line-height: 24px;
            color: #606770;
        }
        .fb-btn-close{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}
.fb-sing-up-form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 5px;

    input{
        width: 100%;
        display: block;
        padding: 11px;
        box-sizing: border-box;
        border: var(--border-color);
        border-radius: 10px;

        &::placeholder{
            font-size: 16px;
            font-weight: normal;
            color: #a1a4ab;
        }
    }
    .fb-modal-input{
        display: flex;
        gap: 10px;
    }

    .fb-singup-btn{
        padding: 11px;
        box-sizing: border-box;
        border: var(--border-color);
        background-color: var(--secondary-color);
        font-size: 20px;
        color: #fff;
        font-weight: 600;
        border-radius: 10px;
    }
}