:root{
    --pramary-color: #0866ff;
    --secondary-color:#36a420;
    --secondary-hover-color: #42b72a;
    --backgroun-color: #f0f2f5;
    --border-color: 1px solid #dddfe2;
    --box-shadaw-color: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    padding: 0px;
}
input:focus{
    outline: none;
}